.projectCard {
    margin: 25px 0px 0px;
    background-color: #1c2d42;
    color: white;
}

.projectTitle {
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
}

.uk-inline {
    max-width: 80% !important;
    margin: 0px auto;
}

.projectURLs {
    color: white;
    background-color: #1c2d42;
    margin: auto 10px;
    border-radius: 10px;
}

.description, .techList {
    max-width: 95% !important;
    margin: 10px auto;
}