.uk-card-title {
    font-family: 'Montserrat', sans-serif !important;
}

.uk-card {
    border-radius: 50px;
    margin: 30px;
    padding: 40px 40px;
}

.uk-grid {
    margin: 0px;
}

.skillSet {
    margin: 100px 0px;
}

.skillTitle {
    color: white;
    font-family: 'Montserrat', sans-serif !important;
}

.skillFoot {
    color: white;
    font-family: 'Montserrat', sans-serif !important;
}

hr {
    width: 15%;
    margin: 10px auto;
}
