.myImg {
    border-radius: 250px;
    width: auto;
    max-height: 300px;
    display: block;
    margin: 30px auto;
}

.overviewTitle {
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 100px;
}

.aboutMe {
    margin-top: 30px;
}

.overviewContainer {
    margin: 50px auto;
}
