.textHolder a i, .textHolder p {
    color: white;
    margin-right: 20px;
    padding-bottom: 20px;
}

.textHolder a i:hover {
    color: #21e6c1;
}

.mountains {
    margin-bottom: -100px;
    width: 100%;
    max-height: 500px;
    z-index: -99;
    margin-top: 100px;
}